extends layout

block content
    h1 about us
    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, recusandae?
    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, recusandae?